      <!-- FOOTER START -->
      <footer
        class="footer-dark"
        style="background-image: url(Assets/images/f-bg.jpg)"
      >
        <div class="container">
          <!-- NEWS LETTER SECTION START -->
      
          <!-- NEWS LETTER SECTION END -->
          <!-- FOOTER BLOCKES START -->
          <div class="footer-top">
            <div class="row">
              <div class="col-lg-3 col-md-12">
                <div class="widget widget_about">
                  <div class="logo-footer clearfix">
                    <a href="index.html"
                      ><img src="Assets/images/collegelogo.png" alt=""
                    /></a>
                  </div>
                    <!-- <p>
                      Many desktop publishing packages and web page editors now.
                    </p> -->
                  <ul class="ftr-list">
                    <li>
                      <p><span>Address :</span>Gat No. (314/330),
                        Shirol – Wadi Road,(Agar Bhag),
                        Jaysingpur : 416101,
                        Tal : Shirol,
                        Dist : Kolhapur.
                        State : Maharashtra</p>
                    </li>
                    <li>
                      <p><span>Email :</span>principal@jjmcoe.ac.in</p>
                    </li>
                    <li>
                      <p><span>Call :</span>(02322) - 221123</p>
                    </li>
                  </ul>
                  <i>Copyright: Comtranse Technology</i>
                </div>
              </div>

                </div>
              </div>
            </div>
          </div>
          
      </footer>
      <!-- FOOTER END -->