<br><br><br><br>

                    
<div id="map-container">

    <div id="map" data-map-zoom="9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.2054633017806!2d74.56409731486775!3d16.766450388453478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc11f14611e10f5%3A0xea59834055bef319!2sDr.%20J.%20J.%20Magdum%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1674554653551!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<script  src="Assets/js/bootstrap-slider.min"></script><!-- Price range slider -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;"></script>
<script src="Assets/js/infobox.min.js"></script><!-- MAP CLUSTER  -->
<script src="Assets/js/markerclusterer.js"></script><!-- MAP CLUSTER  -->
<script src="Assets/js/maps.js"></script><!-- MAP CLUSTER  -->

