 <!-- CONTENT START -->
 <div class="page-content">
    
    <br>
            <!-- OUR BLOG START -->
            <div class="section-full p-t120 p-b90 site-bg-white">
              <div class="container">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-12 rightSidebar m-b30">
                    <div class="side-bar-st-1">
                      <div class="twm-candidate-profile-pic">
                        <img src="Assets/images/user-avtar/pic4.jpg" alt="" />
                        <div class="upload-btn-wrapper">
                          <div id="upload-image-grid"></div>
                          <button class="site-button button-sm">
                            Upload Photo
                          </button>
                          <input
                            type="file"
                            name="myfile"
                            id="file-uploader"
                            accept=".jpg, .jpeg, .png"
                          />
                        </div>
                      </div>
                      <div class="twm-mid-content text-center">
                        <a href="candidate-detail.html" class="twm-job-title">
                          <h4>Randall Henderson</h4>
                        </a>
                        <p>IT Contractor</p>
                      </div>
    
                      <div class="twm-nav-list-1">
                        <ul>
                          <li>
                            <a href="dashboard"
                              ><i class="fa fa-tachometer-alt"></i> Dashboard</a
                            >
                          </li>
                          <li class="active">
                            <a href="Profile"
                              ><i class="fa fa-user"></i> My Profile</a
                            >
                          </li>
                         
                          <li>
                            <a href="Myresume"
                              ><i class="fa fa-receipt"></i> My Resume</a
                            >
                          </li>
                          
                          <li>
                            <a href="Chat"
                              ><i class="fa fa-comments"></i>Chat</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
    
                  <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
                    <!--Filter Short By-->
                    <div class="twm-right-section-panel site-bg-gray">
                      <form>
                        <!--Basic Information-->
                        <div class="panel panel-default">
                          <div class="panel-heading wt-panel-heading p-a20">
                            <h4 class="panel-tittle m-a0">Basic Informations</h4>
                          </div>
                          <div class="panel-body wt-panel-body p-a20 m-b30">
                            <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_name"
                                      type="text"
                                      placeholder="Your Name"
                                    />
                                    <i class="fs-input-icon fa fa-user"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_phone"
                                      type="text"
                                      placeholder="Phone"
                                    />
                                    <i class="fs-input-icon fa fa-phone-alt"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_Email"
                                      type="email"
                                      placeholder="Email Address"
                                    />
                                    <i class="fs-input-icon fas fa-at"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_website"
                                      type="text"
                                      placeholder="Website"
                                    />
                                    <i
                                      class="fs-input-icon fa fa-globe-americas"
                                    ></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="Qualification"
                                    />
                                    <i
                                      class="fs-input-icon fa fa-user-graduate"
                                    ></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="Language"
                                    />
                                    <i class="fs-input-icon fa fa-language"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group city-outer-bx has-feedback">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="Job Category"
                                    />
                                    <i class="fs-input-icon fa fa-border-all"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group city-outer-bx has-feedback">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="Experience"
                                    />
                                    <i class="fs-input-icon fa fa-user-edit"></i>
                                  </div>
                                </div>
                              </div>
    
                              <!-- <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group city-outer-bx has-feedback">
                                  <label>Current Salary</label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="65K"
                                    />
                                    <i class="fs-input-icon fa fa-dollar-sign"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group city-outer-bx has-feedback">
                                  <label>Expected Salary</label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="75K"
                                    />
                                    <i class="fs-input-icon fa fa-dollar-sign"></i>
                                  </div>
                                </div>
                              </div> -->
    
                              <div class="col-xl-4 col-lg-12 col-md-12">
                                <div class="form-group city-outer-bx has-feedback">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="Age"
                                    />
                                    <i class="fs-input-icon fa fa-child"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group city-outer-bx has-feedback">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="Country"
                                    />
                                    <i
                                      class="fs-input-icon fa fa-globe-americas"
                                    ></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group city-outer-bx has-feedback">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="City"
                                    />
                                    <i
                                      class="fs-input-icon fa fa-globe-americas"
                                    ></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-12 col-md-12">
                                <div class="form-group city-outer-bx has-feedback">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="Postcode"
                                    />
                                    <i class="fs-input-icon fas fa-map-pin"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="form-group city-outer-bx has-feedback">
                                  <label></label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control"
                                      name="company_since"
                                      type="text"
                                      placeholder="Full Address"
                                    />
                                    <i
                                      class="fs-input-icon fas fa-map-marker-alt"
                                    ></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Description</label>
                                  <textarea class="form-control" rows="3">
                                    </textarea
                                  >
                                </div>
                              </div>
    
                              <div class="col-lg-12 col-md-12">
                                <div class="text-left">
                                  <button type="submit" class="site-button">
                                    Save Changes
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
    
                        <!--Social Network-->
                        <div class="panel panel-default">
                          <div class="panel-heading wt-panel-heading p-a20">
                            <h4 class="panel-tittle m-a0">Social Network</h4>
                          </div>
                          <div class="panel-body wt-panel-body p-a20 m-b30">
                            <div class="row">
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label>Facebook</label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control wt-form-control"
                                      name="company_name"
                                      type="text"
                                      placeholder="https://www.facebook.com/"
                                    />
                                    <i class="fs-input-icon fab fa-facebook-f"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label>Twitter</label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control wt-form-control"
                                      name="company_name"
                                      type="text"
                                      placeholder="https://twitter.com/"
                                    />
                                    <i class="fs-input-icon fab fa-twitter"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label>linkedin</label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control wt-form-control"
                                      name="company_name"
                                      type="text"
                                      placeholder="https://in.linkedin.com/"
                                    />
                                    <i class="fs-input-icon fab fa-linkedin-in"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label>Whatsapp</label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control wt-form-control"
                                      name="company_name"
                                      type="text"
                                      placeholder="https://www.whatsapp.com/"
                                    />
                                    <i class="fs-input-icon fab fa-whatsapp"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label>Instagram</label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control wt-form-control"
                                      name="company_name"
                                      type="text"
                                      placeholder="https://www.instagram.com/"
                                    />
                                    <i class="fs-input-icon fab fa-instagram"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label>Pinterest</label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control wt-form-control"
                                      name="company_name"
                                      type="text"
                                      placeholder="https://in.pinterest.com/"
                                    />
                                    <i class="fs-input-icon fab fa-pinterest-p"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label>Tumblr</label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control wt-form-control"
                                      name="company_name"
                                      type="text"
                                      placeholder="https://www.tumblr.com/"
                                    />
                                    <i class="fs-input-icon fab fa-tumblr"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label>Youtube</label>
                                  <div class="ls-inputicon-box">
                                    <input
                                      class="form-control wt-form-control"
                                      name="company_name"
                                      type="text"
                                      placeholder="https://www.youtube.com/"
                                    />
                                    <i class="fs-input-icon fab fa-youtube"></i>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-lg-12 col-md-12">
                                <div class="text-left">
                                  <button type="submit" class="site-button">
                                    Save Changes
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- OUR BLOG END -->
          </div>
          <!-- CONTENT END -->