      <style>
        .fas{
            margin:22px;
        }
      </style>
      <!-- CONTENT START -->
      <div class="page-content">

<br>
       
        <!-- CONTACT FORM -->
        <div class="section-full twm-contact-one">   
            <div class="section-content">
                <div class="container">
                        
                    <!-- CONTACT FORM-->
                    <div class="contact-one-inner">
                        <div class="row">

                            <div class="col-lg-6 col-md-12">
                                <div class="contact-form-outer">

                                    <!-- TITLE START-->
                                    <div class="section-head left wt-small-separator-outer">
                                        <h2 class="wt-title">Send Us a Message</h2>
                                        <p>Feel free to contact us and we will get back to you as soon as we can.</p>
                                    </div>
                                    <!-- TITLE END--> 

                                    <form  class="cons-contact-form" method="post" action="https://thewebmax.org/jobzilla/form-handler2.php">
                                        <div class="row">

                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group mb-3">
                                                    <input name="username" type="text" required class="form-control" placeholder="Name">
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group mb-3">
                                                <input name="email" type="text" class="form-control" required placeholder="Email">
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group mb-3">
                                                    <input name="phone" type="text" class="form-control" required placeholder="Phone">
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group mb-3">
                                                    <input name="subject" type="text" class="form-control" required placeholder="Subject">
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-12">
                                                <div class="form-group mb-3">
                                                <textarea name="message" class="form-control" rows="3" placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-12">
                                                <button type="submit" class="site-button">Submit Now</button>
                                            </div>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div> 

                            <div class="col-lg-6 col-md-12">
                                <div class="contact-info-wrap">

                                    <div class="contact-info">
                                        <div class="contact-info-section">  
                                                
                                                <div class="c-info-column">
                                                    <div class="c-info-icon"><i class=" fas fa-map-marker-alt"></i></div>
                                                    <h3 class="twm-title">In the bay area?</h3>
                                                    <p>Gat No. (314/330),
                                                        Shirol – Wadi Road,(Agar Bhag),
                                                        Jaysingpur : 416101,
                                                        Tal : Shirol,
                                                        Dist : Kolhapur. 
                                                        State :  Maharashtra</p>
                                                </div>  

                                                <div class="c-info-column">
                                                    <div class="c-info-icon custome-size"><i class="fas fa-mobile-alt"></i></div>
                                                    <h3 class="twm-title">Feel free to contact us</h3>
                                                    <p><a href="tel:+(02322)-221123">(02322)-221123</a></p>
                                                    <p><a href="tel:+(02322)-221825">(02322)-221825</a></p>
                                                </div>

                                                <div class="c-info-column">
                                                    <div class="c-info-icon"><i class="fas fa-envelope"></i></div>
                                                    <h3 class="twm-title">Support</h3>
                                                    <p>principal@jjmcoe.ac.in</p>
                                                </div>
                                        
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="gmap-outline">
            <div class="google-map">
                <div style="width: 100%">
                    <iframe height="460" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244531.68708996123!2d74.2646397583141!3d16.73644857315909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc11f14611e10f5%3A0xea59834055bef319!2sDr.%20J.%20J.%20Magdum%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1674466860113!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
  

    </div>
    <!-- CONTENT END -->